body {
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #caffca;
}
.calculator {
    background: #caffca;
    padding: 20px;
    border-radius: 15px;
    border: 2px dashed red;
    text-align: center;
    width: 350px;
}
input, select, button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 2px dashed red;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    background: transparent;
    color: brown;
}
button {
    cursor: pointer;
}
.history {
    font-size: 16px;
    color: brown;
    text-align: left;
    max-height: 100px;
    overflow-y: auto;
    border: 2px dashed red;
    border-radius: 10px;
    padding: 10px;
    background: transparent;
}
.history p {
    margin: 5px 0;
}
.history p:last-child {
    font-weight: bold;
    color: red;
}
.error {
    border: 2px solid red;
}