body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: white;
    margin: 0;
    padding: 10px;
}

.calculator {
    background: #caffca;
    padding: 25px;
    border-radius: 15px;
    border: 1px dashed red;
    text-align: center;
    width: 450px;
    max-width: 100%;
    margin: 20px;
}

.input-field {
    padding: 5px;
    border: 1px dashed red;
    border-radius: 10px;
    font-size: 20px;
    text-align: left;
    background: transparent;
    color: red;
    outline: none;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
}

.input-group input {
    width: 170px;
}

.input-group select {
    cursor: pointer;
    padding-right: 20px;
}


.button {
    width: 220px;
    padding: 6px;
    margin-top: 20px;
    border: 1px dashed red;
    border-radius: 10px;
    font-size: 18px;
    background: transparent;
    color: red;
    cursor: pointer;
}

.button:hover {
    background: rgba(165, 42, 42, 0.2);
}


.history {
    font-size: 18px;
    color: red;
    text-align: left;
    border: 1px dashed red;
    border-radius: 10px;
    padding: 12px;
    background: transparent;
    margin-top: 15px;
}

.history p {
    margin: 7px 0;
    opacity: 0.5;
}

.history p:last-child {
    font-weight: bold;
    opacity: 1;
}

/* Адаптивность */
@media (max-width: 480px) {
    .calculator {
        padding: 15px;
        width: 100%;
    }

    .input-group {
        flex-direction: column;
        gap: 5px;
    }

    .input-group input,
    .input-group select {
        font-size: 16px;
        padding: 8px;
        width: 100%;
    }

    .button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }

    .history {
        font-size: 16px;
        padding: 8px;
    }
}

@media (max-width: 768px) {
    .calculator {
        width: 90%;
    }

    .input-group input {
        width: 140px;
    }

    .button {
        width: 180px;
    }
}

@media (max-width: 1024px) {
    .calculator {
        width: 200px;
    }

    .input-group input {
        width: 150px;
    }

    .button {
        width: 200px;
    }
}
